.logo {
  width: 320px;
}

.logo2 {
  width: 120px;
}

.logo,
.logo2 {
  margin: 20px 0;
}

#ss_menu {
  width: 100%;
}

.ss_button {
  background-color: #324e61;
  border-bottom: 1px solid #FFFFFF;
  cursor: pointer;
  padding: 10px;
  color: #FFFFFF;
}

.ss_content {
  background-color: #455e70;
  display: none;
  padding: 10px;
}

.ss_content img {
  width: 90px;
}
